.joke-container {
  position: relative;
  border: 1px solid black;
  width: 60rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.joke-badge {
  position: absolute;
  background-color: aliceblue;
  color: black;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
}
