.contact--card {
  box-shadow: 2px 2px 8px black;
  padding: 2rem;
  width: 20%;
  border-radius: 5px;
  background-color: rgba(139, 139, 100, 0.4);
}

.card--info {
  text-align: start;
  width: fit-content;
  /* margin-top: 1rem; */
}

.card--image {
  border-radius: 50%;
  width: 100%;
}

.card--favorite {
  cursor: pointer;
  display: block;
  width: 15%;
}

.card--name {
  font-size: 3.5rem;
  margin: 1rem 0 3rem 0;
}

.card--contact {
  font-size: large;
}
